.g-wrapper
	.about
		.about__image(style="background:url(/images/about-image.jpg) 50% 50% no-repeat; background-size: cover;")
		.about__block
			.about__block-title Консервы
				br/ Proshyan Food
			.about__block-text 100% натуральная армянская продукция. Мы производим консервированные овощи и грибы, салаты, варенья, компоты и многое другое. По вкусу они совершенно не отличаются от домашних, потому что вся наша продукция сделана по старинным армянским рецептам с любовью и заботой о вас.
