.g-wrapper
	.products
		.products__grid
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image1.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image2.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image3.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image4.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image5.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image6.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image7.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image8.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
			a.products__grid-item(href="#")
				.products__grid-item-image(style="background: url(/images/products/image9.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
					.products__overlay
					.products__grid-item-image-imagedesc
						.products__grid-item-image-imagedesc-title Бамия маринованная
						.products__grid-item-image-imagedesc-text Освобождение, как принято считать, создает трансцендентальный предмет деятельности. Аналогия творит данный гравитационный парадокс.
		.products__showmore
			i.fa.fa-refresh
			span Показать ещё
