.sosial-bg
.g-wrapper
	.social__items
		.social__items-title Мы в соц. сетях
		.social__items-item
			#vk_groups
		.social__items-item
			.fb-page(data-href="https://www.facebook.com/proshyan.food" data-tabs="timeline" data-width="560" data-height="390" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
				blockquote(cite="https://www.facebook.com/proshyan.food").fb-xfbml-parse-ignore
					a(href="https://www.facebook.com/proshyan.food") Proshyan Food
