.menu__overlay {
  position: fixed;
  right: 40px;
  top: 40px;
  height: 50px;
  width: 190px;
  -webkit-box-shadow: 0 0 10px $black;
          box-shadow: 0 0 10px $black;
  z-index: 999;
}
#menu {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 40px;
  left: 30%;
  overflow: hidden;
  height: 90px;
  z-index: 9998;
}
#menu .menu {
  position: relative;
  width: 190px;
  height: 50px;
  z-index: 99999;
}
#menu .menu__controls {
  overflow: hidden;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50px;
}
#menu .menu__controls-button {
  background-color: $brown;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  padding: 15px 12px;
  position: absolute;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
#menu .menu__controls-button svg {
  fill: $white;
  width: 26px;
  height: 26px;
}
#menu .menu__controls-close {
  background-color: $brown;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  padding: 15px 12px;
  position: absolute;
  top: -50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
#menu .menu__controls-close svg {
  fill: $white;
  width: 26px;
  height: 26px;
}
#menu .menu__lang {
  width: 140px;
  background-color: $white;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  position: absolute;
  z-index: 2;
}
#menu .menu__lang-link {
  -webkit-flex-basis: 33.33334%;
      -ms-flex-preferred-size: 33.33334%;
          flex-basis: 33.33334%;
  background: $white;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 16px;
}
#menu .menu__lang-link:after {
  content: '';
  width: 20px;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  height: 2px;
  background-color: $brown;
}
#menu .menu__lang-link:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
#menu .menu .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  bottom: 0;
  height: 50px;
  background-color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
  border: 1px solid $brown;
  border-right: none;
}
#menu .menu .menu__list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: $Regular;
  font-size: 1rem;
  line-height: 16px;
  padding: 0 24px;
  position: relative;
}
#menu .menu .menu__list-link:after {
  content: '';
  width: 50px;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  height: 2px;
  background-color: $brown;
}
#menu .menu .menu__list-link:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
#menu .menu .menu__list-link:before {
  content: '';
  width: 1px;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  height: 10px;
  background-color: $brown;
}
#menu .menu .menu__list-link:last-child:before {
  display: none;
}
#menu .mob__list {
  display: none;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  top: 50px;
  background-color: $white;
}
#menu .mob__list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 16px;
  padding: 16px 24px;
  font-family: $Regular;
  color: $black;
  position: relative;
}
#menu .mob__list-link:after {
  content: '';
  width: 50px;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  height: 2px;
  background-color: $brown;
}
#menu .mob__list-link:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
@media (max-width: 55rem) {
  .menu__overlay {
    display: none;
  }
  #menu {
    overflow: visible;
    left: 0;
    right: 0;
    height: 50px;
  }
  #menu .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    -webkit-box-shadow: 0 0 10px $black;
            box-shadow: 0 0 10px $black;
  }
  #menu .menu__lang {
    margin-left: 0;
    left: -webkit-calc(50% - 70px);
    left: calc(50% - 70px);
  }
}
