#footer {
  background: url("/images/footer-bg.jpg") 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
#footer .footer {
  padding: 50px 0 32px 0;
}
#footer .footer .footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 50px;
}
#footer .footer .footer__container .footer__info {
  grid-column: 1/2;
  margin-right: 10%;
}
#footer .footer .footer__container .footer__info-logo {
  margin: 0 auto 35px auto;
  max-width: 209px;
  display: block;
}
#footer .footer .footer__container .footer__info-copy {
  font-size: 0.875rem;
  font-family: $Regular;
  line-height: 18px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 10px;
}
#footer .footer .footer__container .footer__info-policy {
  font-size: 0.875rem;
  font-family: $Regular;
  line-height: 18px;
  color: $white;
  border-bottom: 1px solid $white;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}
#footer .footer .footer__container .footer__info-policy:hover {
  color: $brown;
}
#footer .footer .footer__container .footer__menu {
  grid-column: 2/3;
  margin-left: 20%;
}
#footer .footer .footer__container .footer__menu-title {
  font-size: 1.25rem;
  font-family: $Bold;
  line-height: 26px;
  color: $white;
  margin-bottom: 26px;
}
#footer .footer .footer__container .footer__menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#footer .footer .footer__container .footer__menu-list-item {
  font-size: 1rem;
  font-family: $Regular;
  line-height: 29px;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
#footer .footer .footer__container .footer__menu-list-item:after {
  content: '';
  width: 50px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  height: 2px;
  background-color: #bc9a6a;
}
#footer .footer .footer__container .footer__menu-list-item:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
#footer .footer .footer__container .footer__contact {
  grid-column: 3/5;
  margin-left: 2%;
}
#footer .footer .footer__container .footer__contact-title {
  font-size: 1.25rem;
  font-family: $Bold;
  line-height: 26px;
  color: $white;
  margin-bottom: 26px;
}
#footer .footer .footer__container .footer__contact-item span {
  font-size: 1rem;
  font-family: $Regular;
  line-height: 29px;
  color: $white;
}
#footer .footer .footer__container .footer__contact-item-link {
  font-size: 1rem;
  font-family: $Regular;
  line-height: 29px;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#footer .footer .footer__container .footer__contact-item-link:hover {
  color: $brown;
}
#footer .footer .footer__container .footer__contact-item i {
  color: $white;
  margin-right: 8px;
}
#footer .footer__separator {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  grid-column: 1/5;
  margin-bottom: 25px;
}
#footer .footer__author {
  font-size: 1rem;
  font-family: $Regular;
  line-height: 29px;
  color: $white;
  grid-column: 1/5;
  text-align: center;
}
#footer .footer__author-link {
  font-family: $Bold;
  border-bottom: 1px solid $white;
  display: inline-block;
  margin-left: 3px;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#footer .footer__author-link:hover {
  color: $brown;
}
@media (max-width: 55rem) {
  #footer .footer .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  #footer .footer .footer__container .footer__info {
    grid-column: 1/3;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    margin-right: 0;
  }
  #footer .footer .footer__container .footer__menu {
    grid-column: 1/2;
  }
  #footer .footer .footer__container .footer__contact {
    grid-column: 2/3;
  }
}
@media (max-width: 40.625rem) {
  #footer .footer .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer .footer .footer__container .footer__info {
    grid-column: 1/3;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    text-align: center;
  }
  #footer .footer .footer__container .footer__menu {
    grid-column: 1/3;
    margin-left: 0;
    text-align: center;
  }
  #footer .footer .footer__container .footer__contact {
    grid-column: 1/3;
    text-align: center;
  }
}
