<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Proshyan Food
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
		script(type="text/javascript" src="https://vk.com/js/api/openapi.js?159")
	body.body
		.preloader
			.loader-circle
			.loader-line-mask
				.loader-line
		.wrapper
			section#header
				include ./blocks/common/header.pug
			section#home
				include ./blocks/index/home.pug
			section#about
				include ./blocks/index/about.pug
			section#products
				include ./blocks/index/products.pug
			section#categories
				include ./blocks/index/categories.pug
			section#blog
				include ./blocks/index/blog.pug
			section#social
				include ./blocks/index/social.pug
			section#footer
				include ./blocks/common/footer.pug
			include ./blocks/common/popup.pug
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
