<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Proshyan Food
		link(rel="stylesheet", href="/app/css/libs.min.css")
		link(rel="stylesheet", href="/app/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		script(src="/vendor/modernizr/modernizr-custom.js")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
	body.body
		.preloader
			.loader-circle
			.loader-line-mask
				.loader-line
		.wrapper
			section#header
				include ./common/header.pug
			section#subheader
				include ./common/subheader.pug
			section#products
				include ./products/content-products.pug
			section#footer
				include ./common/footer.pug
			include ./common/popup.pug
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
