.categories-bg
.g-wrapper
	.categories__items
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Овощная консервация
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Салаты
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Закуски
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Икра
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Компоты
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Грибная консервация
		a.categories__items-item(href="#")
			.categories__items-item-image
			.home__overlay
			.categories__items-item-title Варенья и джемы
		.categories__items__image.categories__items__image1
		.categories__items__image.categories__items__image2
		.categories__items__image.categories__items__image3
		.categories__items__image.categories__items__image4
