.categories-bg
.g-wrapper
	.categories__items
		a.categories__items-item(href="#" style="background: url(/images/category1.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Овощная консервация
		a.categories__items-item(href="#" style="background: url(/images/category2.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Салаты
		a.categories__items-item(href="#" style="background: url(/images/category3.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Закуски
		a.categories__items-item(href="#" style="background: url(/images/category4.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Икра
		a.categories__items-item(href="#" style="background: url(/images/category5.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Компоты
		a.categories__items-item(href="#" style="background: url(/images/category6.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Грибная консервация
		a.categories__items-item(href="#" style="background: url(/images/category7.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
			.home__overlay
			.categories__items-item-title Варенья и джемы
		.categories__items__image.categories__items__image1(style="background: url(/images/pepper.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
		.categories__items__image.categories__items__image2(style="background: url(/images/garlic.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
		.categories__items__image.categories__items__image3(style="background: url(/images/mint.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
		.categories__items__image.categories__items__image4(style="background: url(/images/tomato.jpg) 50% 50%; background-repeat: no-repeat; background-size: cover;")
