.side__slider
	.sidebar__search
		.sidebar__search-title Поиск по сайту
		.sidebar__search-input
			input(type="search" placeholder="Введите поисковой запрос")
			button.sidebar__search-button(type="submit")
				i.fa.fa-search
	.sidebar__categories
		.sidebar__categories-title Категории блога
		a.sidebar__categories-link(href="#") Об овощных консервах
		a.sidebar__categories-link(href="#") Рецепты от Proshyan Food
		a.sidebar__categories-link(href="#") Полезные советы
		a.sidebar__categories-link(href="#") Лайфхаки на кухне
		a.sidebar__categories-link(href="#") О производстве
		a.sidebar__categories-link(href="#") Новости компании
