.subheader-bg
	background url(/images/home-bg.jpg) 50% 50%
	background-repeat no-repeat
	background-size cover
	height 130px
	display flex
	align-items center
	padding 40px
	.subheader__logo img
		max-width 191px
@media(max-width:55rem)
	.subheader-bg
		margin-top 50px
