.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}
.about__image {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  z-index: 2;
  height: 350px;
}
.about__block {
  -webkit-flex-basis: 55%;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
  z-index: 1;
  padding: 40px 40px 40px 89px;
  border: 3px solid $brown;
  margin-left: -5%;
  margin-top: 36px;
  margin-bottom: -36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__block-title {
  color: $brown;
  font-size: 2rem;
  line-height: 41px;
  font-family: $Bold;
  margin-bottom: 30px;
}
.about__block-text {
  font-family: $Regular;
  line-height: 29px;
  color: 1rem;
}
@media (max-width: 62.5rem) {
  .about {
    padding: 40px 0;
  }
  .about__image {
    display: none;
  }
  .about__block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 0;
    padding: 40px;
  }
}
