@font-face {
  font-family: 'PT-Bold';
  src: url("/fonts/ptserifbold.ttf");
}
@font-face {
  font-family: 'PT-Regular';
  src: url("/fonts/ptserif.ttf");
}
@font-face {
  font-family: 'PT-Italic';
  src: url("/fonts/ptserifitalic.ttf");
}
@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/FontAwesome.otf");
}
