.g-wrapper
	.footer
		.footer__container
			.footer__info
				a.footer__info-logo(href="")
					img(src="/images/logo.png")
				.footer__info-copy © Proshyan Foods, 2016-2018.
					br/ All Rights Reserved.
				.footer__info-policy Политика конфиденциальности
			.footer__menu
				.footer__menu-title Навигация
				.footer__menu-list
					a.footer__menu-list-item(href="/") Главная
					a.footer__menu-list-item(href="/products/") Продукция
					a.footer__menu-list-item(href="/blog/") Блог
					a.footer__menu-list-item(href="/contacts/") Контакты
			.footer__contact
				.footer__contact-title Контакты
				.footer__contact-item
					i.fa.fa-location-arrow
					span Russia, Furazhnyy Proyezd, 4, Mytishchi, Moskovskaya oblast', 141000
				.footer__contact-item
					i.fa.fa-phone
					a(href="tel:+74991101199").footer__contact-item-link +7 (499) 110-11-99
				.footer__contact-item
					i.fa.fa-at
					a(href="mailto:info@proshyan.ru").footer__contact-item-link info@proshyan.ru
		.footer__separator
		.footer__author Разработка сайта:
			a.footer__author-link(href="http://spacecode.ru") Spacecode
